
/* for abilities_data */
.ignore {
	border: 2px solid red;
}

.autoIgnore {
	border: 2px solid red;
}

.masterHeroWrap {
    clear: both;
}

.masterHeroImgWrap {
    display: none;
    background-color: black;
    /* margin: 2px; */
    width: 132px;
    height: 152px;
}

.masterHeroImgWrap img {
    width: 128px;
    height: auto;
    background-color: black;
    margin: 2px;
}

.masterAbilityImgWrap {
    float: left;
    width: 54px;
    height: 54px;
    background-color: black;
    margin: 2px 2px 0 0;
}

.masterAbilityImgWrap img {
    width: 50px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
}

.forbidden {
    opacity: 0.2;
    cursor: default!important;
}

.dispAbilityItem label{
    margin: 0;
}

.dispAbilityItem .btn {
    display: block;
    cursor: pointer;
    text-align: left;
}

.bkgRed {
    background-color: rgba(255, 0, 0, 0.2);
}

.bkgYellow {
    background-color: rgba(255, 255, 0, 0.4);
}

.brightRed {
    color: red;
}

.masterHeroLocalname{
    display: inline;
}

.masterDispellableWrap .fa-link{
    margin: 5px;
}