.heroListImgOpacity {
    opacity: 0.3;
}

/* .acrdHdrBtn {
    cursor: pointer;
    margin: 5px 0 0 5px;
} */

/* .hvrDrkGr:hover {
    color: green!important;
} */

/* #btnDeleteSelectedTagPopup {
    cursor: pointer;
    display: none;
} */

/* .hvrMaroon:hover {
    color: maroon!important;
} */

/* .hvrOrange:hover {
    color: rgb(255, 136, 0)!important;
} */

.heroList {
    width: 100%;
    /* margin: 10px auto 10px auto; */
    /* max-width: 702px; */
    clear: both;
}

/* #editAccordion{ */
    /* margin: 10px auto 10px auto; */
/* } */

.heroListImg {
    float: left;
    width: 32px;
    height: 36px;
    background-color: black;
    margin: 1px 1px 0 0;
}

.heroListImg img {
    width: 28px;
    height: 32px;
    margin: 2px;
}

.heroListImg img.redLine {
    width: 36px;
    height: 46px;
    margin: 2px;
    position: absolute;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    margin-top: -5px;
    margin-left: -2px;
    z-index: 10;
}

.heroListImg img.highlight {
    width: 32px;
    height: 33px;
    margin: 3px 2px 2px 0;
    position: absolute;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    z-index: 10;
    opacity: 0.8;
}

.heroListImg:hover:not(.pickedOrBaned) {
    /* -webkit-filter: grayscale(0%); Safari 6.0 - 9.0 */
    /* filter: grayscale(0%); */
    cursor: pointer;
}

hr {
    clear: both;
    visibility: hidden;
}

/* .heroBalancePanel img {
    width: 40px;
    height: auto;
    margin: 1px;
    cursor: pointer;
} */

/* .heroBalance {
    z-index: 99;
    position: absolute;
    font-weight: 700;
    text-shadow: 1px 1px rgba(10, 6, 6, 0.78);
    margin: 8px 12px 0px 13px;
    font-size: .8em;
    pointer-events: none;
} */

/* .balanceSetItemOpacity {
    opacity: 0.5!important;
} */


/* #balanceRadioWrap {
    text-align: center;
} */

#wizardRadioWrap {
    text-align: center;
}


/* .tagBalanceItem div:nth-child(1),
.tagBalanceItem div:nth-child(5)
{
    width: 34px;
}
.tagBalanceItem div:nth-child(2),
.tagBalanceItem div:nth-child(4)
{
    width: 119px;
}
.tagBalanceItem div:nth-child(3){
    margin-left: auto;
    margin-right: auto;
    font-family: fantasy;
    font-size: 19px;
    color: #dadada;
    width: 30px;
}
.tagBalanceItem div {
    text-align: center;
    vertical-align: middle;
}
.tagBalanceItem {
    background-color: rgb(243, 243, 243);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 4px 1px;
    padding: 3px 0;
}
.tagBalanceItem:hover {
    border-color: rgb(104, 154, 208);
    cursor: pointer;
} */

.noticeRed {
    color: red;
}

.noticeGreen {
    color: rgb(0, 199, 0);
}

/* .blueBold {
    color: rgb(14, 109, 199);
    font-weight: bold;
} */

/* .selectedTag
,#editHeroTagTagName
,.greenBold
{
    font-weight: bold;
    color: rgb(18, 168, 23);
} */


/* #editHeroTagPopup, #editHeroPopup
{
    text-align: center;
} */

/* #editBalancePopupHtml .form-group{
    text-align: center;
} */

/* #editBalancePopupHtml input{
    width: 315px;
} */

/* #editBalancePopupHtml .ui-slider-horizontal,
#editBalancePopupHtml .ui-slider-range-min {
    background: white;
}

#editBalancePopupHtml.sliderMore .ui-slider-horizontal,
#editBalancePopupHtml.sliderLess .ui-slider-range-min,
#editBalancePopupHtml.sliderMore #combobox2 .ui-widget-content,
#editBalancePopupHtml.sliderLess #combobox1 .ui-widget-content {
    background: #ee7360;
}

#editBalancePopupHtml.cccolorForSynergy .ui-slider-horizontal,
#editBalancePopupHtml.rrred #combobox1 .ui-widget-content,
#editBalancePopupHtml.rrred #combobox2 .ui-widget-content {
    background: #ee7360!important;
}

#editBalancePopupHtml.sliderMore .ui-slider-range-min,
#editBalancePopupHtml.sliderLess .ui-slider-horizontal,
#editBalancePopupHtml.sliderMore #combobox1 .ui-widget-content,
#editBalancePopupHtml.sliderLess #combobox2 .ui-widget-content {
    background: #98e498;
}

#editBalancePopupHtml.cccolorForSynergy .ui-slider-range-min,
#editBalancePopupHtml.gggreen #combobox1 .ui-widget-content,
#editBalancePopupHtml.gggreen #combobox2 .ui-widget-content {
    background: #98e498!important;
} */


/* #custom-handle, #custom-handle2 {
    width: 1.7em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
} */

/* #editHeroTagSlider, #editBalanceTagSlider {
    width: 70%;
    margin: auto;
} */

/* #editHeroTagAbilitiesImgWrap .heroAbilityImg, #editHeroAllTagsAbilitiesImgWrap .heroAbilityImg
{
    width: 56px;
    height: 56px;
    border: 3px solid rgba(0, 0, 0, 0);
    margin: 3px 1px;
    background-color: black;
    display: inline-block;
}
#editHeroTagAbilitiesImgWrap .heroAbilityImg.selectedAbility {
    border: 6px double rgb(18, 168, 23);
}


#editHeroTagAbilitiesImgWrap .heroAbilityImg img, #editHeroAllTagsAbilitiesImgWrap .heroAbilityImg img
{
    width: 50px;
    height: 50px;
    border: none;
}
#editHeroTagAbilitiesImgWrap .heroAbilityImg.selectedAbility img
{
    width: 40px;
    height: 40px;
    margin: 2px;
}



#editHeroTagHeroImgWrap img, #editHeroAllTagsHeroImgWrap img {
    height: 118px;
    width: 210px;
    margin: 3px;
}

#editHeroTagHeroImgWrap.selectedAbility img {
    border: 6px double rgb(18, 168, 23);
}

#editHeroTagHeroImgWrap, #editHeroAllTagsHeroImgWrap {
    width: 218px;
    height: 124px;
    background-color: black;
    margin: auto;
} */

#heroListWrap{
    max-width: 756px;
}
/* #tagListWrap{
    line-height: 1;
} */
.smlGrp{
    /* width: 219px; */
    width: 31%;
    height: 25px;
    margin-bottom: 8px;
    font-size: 11px;
}

.smlGrpWidth {
    width: 63%;
    margin-left: 6%;
}

#heroListWrap .smlGrp{
    display: inline-flex;
    float: left;
}
/* #heroListWrap .smlGrp:nth-child(2){
    float: right;
} */

/* .smlGrp .input-group-addon, */
.smlGrp input
{
    font-size: 11px;
}

/* #heroListWrap .input-group-addon {
    cursor: pointer;
    width: 34px;
} */
/* #editInfoTagHeroNone{
    height: 33px!important;
    top: 214px!important;
    margin: 0!important;
    width: 418px!important;
    display: inline-block!important;
} */

/* #tagBalanceListWrap{
    position: relative;
} */


/* .editHeroPopupTag,
.editHeroPopupTagVal
{
	display: inline-block;
	font-size: 12px;
}
.editHeroPopupTag{
    color: gray;
}
#editHeroPopupTagsWrap{
    color: #bfbebe;
}

.editHeroPopupTagVal
{
margin-right: 10px;
}

.editHeroPopupTag:hover {
    cursor: pointer;
    color: rgb(24, 226, 30);
}

 .editHeroPopupTagVal:hover {
    cursor: pointer;
    color: red;
}

#editHeroPopup .nav-tabs {
    margin-bottom: 15px;
} */

/* #editHeroTagInfoNone,
#editHeroTagInfoHero,
#editHeroTagInfoAbilities{
    font-size: 11px;
}

#editHeroTagInfoNone{
    color: red!important;
} */

.heroImgWrapForBalance,
.heroNamelocalForBalance,
.heroTotalCoefForBalance{
line-height: 40px
}


.heroInfoWrapForBalance {
    width: 350px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 6px 5px;
    background-color: rgb(58, 58, 58);
    background-clip: border-box;
    border: 1px solid #f374eb36;
    border-radius: .25rem;
    margin: 4px 1px;
    box-shadow: 1px 1px 9px #381f1f;
    box-shadow: 2px 3px 9px #634756;
    border: 1px solid #0c502a36;
    box-shadow: 1px 2px 9px #476351;
}

.heroInfoWrapForBalance:hover {
    cursor: pointer;
    background-color: rgb(58, 63, 59);
    box-shadow: 3px 2px 9px #634747;
    box-shadow: 1px 1px 9px #381f1f;
    box-shadow: 2px 3px 9px #3c5f4a;
}
#notesWrap{
    margin: 10px auto 0 auto;
    padding: 0 14px;
}

#notesWrap,
.heroNotesWrapForBalance{
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    border-top: 1px solid #a663a2;
    width: 335px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.heroNotesWrapForBalance {
    margin-top: -5px;
    margin-left: 1px;
}

.heroImgWrapForBalance {
    background-color: black;
    width: 34px;
    height: 39px;
}
.heroImgWrapForBalance img{
    margin: -4px 2px 0;
}

.heroTotalCoefForBalance {
    font-size: 20px;
    display: none;
}
.heroNamelocalForBalance{
    margin-left: 7px;
}
.noteForBalance{
    border: 1px solid #2627265e;
    width: 100%;
    border-top: none;
    display: flex;
    background-color: #f3f3f30f;
}
.finalBalaceItem .noteForBalance:last-of-type{
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.finalBalaceItem .noteForBalance:first-of-type{
    margin: 0;
}
.selectedHeroPopupBalance {
    border-bottom-left-radius: 0;
}

#notesWrap,
.noteTextForBalance{
    width: 398px;
}

.noteTextForBalance{
    padding: 1px 2px 4px 2px;
}

.coefForBalance{
    width: 30px;
    text-align: center;
    background-color: #f3f3f3;
    border-left: 1px solid #a663a2;
    display: none;
}

#editHeroPopup{
    min-height: 732px;
}






/******************** top pick icons ********************/
#dragNdropInstructions {
    font-size: 9px;
    text-align: center;
    color: #a5a5a5;
    text-shadow: 0 0 1px #5a7f92;
}

#pickedHeroWrap{
    /* margin: 0 0 10px 0; */
    /* padding: 0 0 10px 0; */
    padding: 0 0 5px 0;
}
#pickedHeroWrap div{
    padding: 0;
}
#friendPickList, #enemyPickList{
    /* display: inline-block; */
    text-align: center;
    padding: 0;
}
#gameMode{
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #dcf3f0;
    text-shadow: 0 0 8px white;
}

.friendPick, .enemyPick, .banPick{
    display: inline-block;
    background-color: #525252;
    padding: 0;
}

.emptySlot{
    box-shadow: inset 0 10px 40px #252525, 0 9px 30px #252525;
}

.friendPick:not(.emptySlot), .enemyPick:not(.emptySlot)
{
    box-shadow: 0 9px 30px #252525;
}

.friendPick, .enemyPick{
    margin: 2px;
    width: 70px;
    height: 40px;
}
.friendPick img, .enemyPick img, .banPick img {
    /* float: left; */
}
.friendPick img, .enemyPick img {
    width: 68px;
    height: 38px;
    margin: 1px;
}
.pickedHeroImgWrap{
    float: left;
}
.plyrClr{
    /* padding: 2px; */
    /* background-color: blue; */
    position: relative;
    /* display: block; */
    width: 70px;
    height: 4px;
    /* float: right; */
    top: 40px;
    border: #ffffff29 solid 1px;
}
#banPickList{
    /* float: right; */
    /* width: 216px; */
    margin: 0;
    padding: 0;
    text-align: center;
}
.banPick {
    display: inline-block;
    margin: 2px 1px 0;
    width: 44px;
    height: 28px;
    background-color: #692b2b;
    box-shadow: inset 0 -1px 25px black, 0 1px 4px -2px black;
}
.banPick img{
    width: 40px;
    height: 24px;
    margin: 2px;
}
.banPick:not(.emptySlot){
    -ms-filter: sepia() blur(0) brightness(81%) contrast(108%) hue-rotate(306deg) saturate(205%);
    -webkit-filter: sepia() blur(0) brightness(81%) contrast(108%) hue-rotate(306deg) saturate(205%);
    filter: sepia() blur(0) brightness(81%) contrast(108%) hue-rotate(306deg) saturate(205%);
}

.radiant .enemyPick:nth-child(1) .plyrClr
, .radiant .friendPick:nth-child(1) .plyrClr{
    background-color: #2b69e9;
}
.radiant .enemyPick:nth-child(2) .plyrClr
, .radiant .friendPick:nth-child(2) .plyrClr{
    background-color: #6ff8b8;
}
.radiant .enemyPick:nth-child(3) .plyrClr
, .radiant .friendPick:nth-child(3) .plyrClr{
    background-color: #ad03b4;
}
.radiant .enemyPick:nth-child(4) .plyrClr
, .radiant .friendPick:nth-child(4) .plyrClr{
    background-color: #f0fd12;
}
.radiant .enemyPick:nth-child(5) .plyrClr
, .radiant .friendPick:nth-child(5) .plyrClr{
    background-color: #f05f08;
}

.dire .friendPick:nth-child(1) .plyrClr
, .dire .enemyPick:nth-child(1) .plyrClr{
    background-color: #f070b7;
}
.dire .friendPick:nth-child(2) .plyrClr
, .dire .enemyPick:nth-child(2) .plyrClr{
    background-color: #9bc03d;
}
.dire .friendPick:nth-child(3) .plyrClr
, .dire .enemyPick:nth-child(3) .plyrClr{
    background-color: #68e0e7;
}
.dire .friendPick:nth-child(4) .plyrClr
, .dire .enemyPick:nth-child(4) .plyrClr{
    background-color: #059e1d;
}
.dire .friendPick:nth-child(5) .plyrClr
, .dire .enemyPick:nth-child(5) .plyrClr{
    background-color: #976a0a;
}

.draggable:not(.draggableOverDroppable){
    width: 44px;
    height: 50px;
}

.draggable:not(.draggableOverDroppable) img{
    width: 40px;
    height: 46px;
    margin: 2px;
}

#enemyPickList .pickedHeroImgDelete,
#friendPickList .pickedHeroImgDelete
{
    position: absolute;
    margin-left: 55px;
    margin-top: 1px;
    color: #ffffffb0;
    text-shadow: 0 0 2px black;
}
#enemyPickList .pickedHeroImgDelete:hover,
#friendPickList .pickedHeroImgDelete:hover,
#banPickList .pickedHeroImgDelete:hover
{
    cursor: pointer;
    color: white;
}

#banPickList .pickedHeroImgDelete {
    position: absolute;
    margin-left: 31px;
    margin-top: 1px;
    font-size: 0.8rem;
    color: #ffffffbf;
    z-index: 189;
    text-shadow: 0 0 2px black;
}

.slot, .pickedHeroImgWrap{
    background-color: transparent;
}

.enemyPick.ui-droppable-active:not(.ui-droppable-hover),
.friendPick.ui-droppable-active:not(.ui-droppable-hover)
{
    background-color: #5e5e5e;
}
.banPick.ui-droppable-active:not(.ui-droppable-hover)
{
    background-color: #753030;
}

#fillHeroPickAndBanSlotsViaAliasSingleInput + span {
    cursor: pointer;
}

.matchedHeroesPopupListItem {
    max-width: 89px;
    display: inline-block;
    margin: 2px;
}

.matchedHeroesPopupListItem > img {
    width: 89px;
    border-radius: 5px;
    cursor: pointer;
}

.rating {
    width: 85px;
    height: 17px;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 5px;
    float: right;
}

.unit-rating {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 85px;
    height: 17px;
    position: relative;
    background: url(../images/rating.png) repeat-x;
}

.current-rating {
    background: url(../images/rating.png) 0 17px;
    position: absolute;
    height: 17px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}

#mainContent {
    height: 295px;
}

#miniMapWrap {
    display: inline-block;
}

#miniMapWrap > img {
    border: 1px solid black;
}

#miniMapWrap > div {
    display: inline-block;
    position: absolute;
}

/* #uncertainDireHeroesWrap, #uncertainRadiantHeroesWrap {
    display: inline-block;
} */



/* Radiant */
#radiantEasy1 {
    top: 161px;
    left: 160px;
}

#radiantEasy2 {
    top: 161px;
    left: 131px;
}

#radiantEasy3 {
    top: 161px;
    left: 101px;
}

#radiantMid1 {
    left: 80px;
    top: 98px;
}

#radiantMid2 {
    left: 60px;
    top: 118px;
}

#radiantMid3 {
    left: 40px;
    top: 138px;
}

#radiantHard1 {
    top: 50px;
}

#radiantHard2 {
    top: 77px;
}

#radiantHard3 {
    top: 104px;
}

#radiantJungle {
    left: 101px;
    top: 133px;
}

#radiantRoam {
    left: 59px;
    top: 28px;
}
/* End of Radiant */

/* Dire */
#direEasy1 {
    left: 29px;
}

#direEasy2 {
    left: 59px;
}

#direEasy3 {
    left: 89px;
}

#direMid1 {
    left: 105px;
    top: 75px;
}

#direMid2 {
    left: 125px;
    top: 55px;
}

#direMid3 {
    left: 145px;
    top: 35px;
}

#direHard1 {
    left: 174px;
    top: 120px;
}

#direHard2 {
    left: 174px;
    top: 93px;
}

#direHard3 {
    left: 174px;
    top: 66px;
}

#direJungle {
    left: 89px;
    top: 28px;
}

#direRoam {
    left: 131px;
    top: 133px;
}

/* End of Dire */

