vendor
todo.txt
.git/
.vscode/
php/aws/
js/min.kainax.*.js
css/min.kainax.*.css
js/eco_prebuild_*.js
css/eco_prebuild_*.css
php/eco_prebuild_*.php
php/prebuild/prebuild*.json

index.binance.php
mus.mp3
newbinancerec.mp3
recbinance.mp3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml